@theme {
  /* Cool Neutral */
  --color-neutral-10: #ffffff;
  --color-neutral-20: #f7f7f8;
  --color-neutral-30: #dbdcdf;
  --color-neutral-40: #989ba2;
  --color-neutral-50: #70737c;
  --color-neutral-60: #5a5c63;
  --color-neutral-70: #292a2d;
  --color-neutral-80: #171719;
  --color-neutral-90: #0f0f10;
  --color-neutral-100: #000000;

  /* Primary Blue */
  --color-primary-10: #e3effa;
  --color-primary-20: #cae4fa;
  --color-primary-30: #98ccfa;
  --color-primary-40: #359efa;
  --color-primary-50: #1a4e7c;
  --color-primary-60: #0f2c45;

  /* Secondary Green */
  --color-secondary-10: #c9e1b6;
  --color-secondary-20: #b0e189;
  --color-secondary-30: #96e15c;
  --color-secondary-40: #7de12f;
  --color-secondary-50: #62ad24;
  --color-secondary-60: #457a19;

  /* Error Red */
  --color-error-10: #ffebeb;
  --color-error-20: #ffd1d1;
  --color-error-30: #ffb8b8;
  --color-error-40: #ff8585;
  --color-error-50: #ff5252;
  --color-error-60: #993131;
}

@layer utilities {
  /* Typography */
  .heading1 {
    font-size: 2.8rem;
    line-height: 132%;
    letter-spacing: -2.36%;
  }
  .heading2 {
    font-size: 2.4rem;
    line-height: 132%;
    letter-spacing: -2%;
  }
  .heading3 {
    font-size: 2rem;
    line-height: 132%;
    letter-spacing: -1%;
  }
  .body1 {
    font-size: 1.8rem;
    line-height: 132%;
    letter-spacing: -1%;
  }
  .body2 {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body3 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .captions {
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.6rem;
  }

  /* Default Scroll Bar Hide for mobile view */
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}
