@import 'tailwindcss';
@import './design-system.css';

/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

/* Base Mobile Layout */
@layer base {
  :root {
    --min-width: 360px;
    --max-width: 430px;
  }

  #root {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: 100dvh;
  }

  html {
    background-color: white;
  }

  /* 
  Font Size 62.5% for 1rem = 10px
  Default Font Pretendard-Regular
  */
  html,
  body {
    font-size: 62.5%;
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
  }

  body {
    background-color: var(--color-background);
  }

  body::-webkit-scrollbar {
    display: none;
  }
}
