@theme {
  /* Cool Neutral */
  --color-neutral-10: #ffffff;
  --color-neutral-20: #f7f7f8;
  --color-neutral-30: #dbdcdf;
  --color-neutral-40: #989ba2;
  --color-neutral-50: #70737c;
  --color-neutral-60: #5a5c63;
  --color-neutral-70: #292a2d;
  --color-neutral-80: #171719;
  --color-neutral-90: #0f0f10;
  --color-neutral-100: #000000;

  /* Primary Blue */
  --color-primary-10: #e3effa;
  --color-primary-20: #cae4fa;
  --color-primary-30: #98ccfa;
  --color-primary-40: #359efa;
  --color-primary-50: #1a4e7c;
  --color-primary-60: #0f2c45;

  /* Secondary Green */
  --color-secondary-10: #c9e1b6;
  --color-secondary-20: #b0e189;
  --color-secondary-30: #96e15c;
  --color-secondary-40: #7de12f;
  --color-secondary-50: #62ad24;
  --color-secondary-60: #457a19;

  /* Error Red */
  --color-error-10: #ffebeb;
  --color-error-20: #ffd1d1;
  --color-error-30: #ffb8b8;
  --color-error-40: #ff8585;
  --color-error-50: #ff5252;
  --color-error-60: #993131;

  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Font Size */
  --font-size-heading1: 28px;
  --font-size-heading2: 24px;
  --font-size-heading3: 20px;
  --font-size-body1: 18px;
  --font-size-body2: 16px;
  --font-size-body3: 14px;
  --font-size-caption: 12px;
  --font-size-action: 12px;

  /* Line Height */
  --line-height-heading: 132%;
  --line-height-body: 150%;

  /* 20px radius  */
  --radius-default: 20px
}

@layer components {
  /* Typography */
  /* Heading 28 */
  .heading-28-bold {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-28-semibold {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-28-medium {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-28-regular {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Heading 24 */
  .heading-24-bold {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-24-semibold {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-24-medium {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-24-regular {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Heading 20 */
  .heading-20-bold {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-20-semibold {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-20-medium {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-20-regular {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Body 18 */
  .body-18-bold {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .body-18-semibold {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .body-18-medium {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .body-18-regular {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Body 16 */
  .body-16-bold {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .body-16-semibold {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .body-16-medium {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .body-16-regular {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .body-16-light {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* Body 14 */
  .body-14-bold {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .body-14-semibold {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .body-14-medium {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .body-14-regular {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .body-14-light {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* Caption 12 */
  .caption-12-bold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .caption-12-semibold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .caption-12-medium {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .caption-12-regular {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .caption-12-light {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* 임시로 default 라고 정의 */
  .shadow-default {
    box-shadow: 0px 0px 11px rgba(144, 144, 144, 0.4);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}
