@import 'tailwindcss';
@import './design-system.css';

/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

/* Base Mobile Layout */
@layer base {
  :root {
    --max-width: 100%;
  }

  @media (min-width: 500px) {
    :root {
      --max-width: 500px;
    }
  }

  #root {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: 100dvh;
  }

  html {
    background-color: white;
  }

  /* 
  Default Font Pretendard-Regular
  */
  html,
  body {
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
  }

  body {
    background-color: var(--color-background);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* input 기본 x 버튼 제거 */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .scroll-none {
    scrollbar-width: none;
  }
}

* {
  -webkit-user-drag: none; /* 이미지, 링크 드래그 방지 (Chrome, Safari) */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none; /* 텍스트 선택 방지 */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent; /* 모바일 탭 하이라이트 제거 */
}

html,
body {
  overscroll-behavior: none; /* 모바일 당겨서 새로고침 방지 */
  touch-action: none; /* 기본 스크롤/줌 제스처 차단 */
}
